{% set logos = block.blockLogos.all %}
{% set svgClasses = 'h-32' %}
{% set logoClasses = 'col-span-5 md:col-span-2 lg:col-span-1 aspect-square' %}
<div class="text-fl-dark grid grid-cols-10 gap-x-8">
  {% for logo in logos %}
    {% set hasLink = logo.blockLink.url is not null %}
    {% if hasLink %}
      <a href="{{ logo.blockLink.url }}" target="_blank" class="no-underline block {{ logoClasses }}">
    {% else %}
      <div class="{{ logoClasses }}">
    {% endif %} 
    <picture class="block h-full w-full relative">
      {% if logo.kind == 'svg' %}
        {{ svg(asset) | attr({ class: svgClasses ?? ''}) }}
      {% elseif logo.kind == 'image' %}
        <img src="{{ logo.url }}" class="absolute inset-0 w-full h-full object-contain object-center p-1">
      {% endif %}
    </picture>
    {% if hasLink %}
      </a>
    {% else %}
      </div>
    {% endif %}
  {% endfor %}
</div>